<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_bu_cs.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,2},{83,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,83}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>btn_bu_cs_dis.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,2},{83,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,83}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>btn_buzhang_cs.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,2},{142,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,82}}</string>
                <key>sourceSize</key>
                <string>{142,82}</string>
            </dict>
            <key>btn_eat_cs.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{91,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,83}}</string>
                <key>sourceSize</key>
                <string>{91,83}</string>
            </dict>
            <key>btn_eat_cs_dis.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,2},{84,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,81}}</string>
                <key>sourceSize</key>
                <string>{84,81}</string>
            </dict>
            <key>btn_gang_cs.png</key>
            <dict>
                <key>frame</key>
                <string>{{1203,2},{82,81}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,81}}</string>
                <key>sourceSize</key>
                <string>{84,81}</string>
            </dict>
            <key>btn_gang_cs_dis.png</key>
            <dict>
                <key>frame</key>
                <string>{{1121,2},{82,81}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,81}}</string>
                <key>sourceSize</key>
                <string>{84,81}</string>
            </dict>
            <key>btn_pass_cs.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{87,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,85}}</string>
                <key>sourceSize</key>
                <string>{87,85}</string>
            </dict>
            <key>btn_peng_cs.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>btn_peng_cs_dis.png</key>
            <dict>
                <key>frame</key>
                <string>{{1285,2},{80,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{80,81}}</string>
                <key>sourceSize</key>
                <string>{84,81}</string>
            </dict>
            <key>btn_win_cs.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,2},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>btn_win_cs_dis.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,2},{78,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{78,79}}</string>
                <key>sourceSize</key>
                <string>{84,81}</string>
            </dict>
            <key>decision_sign_cs_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,2},{73,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,81}}</string>
                <key>sourceSize</key>
                <string>{73,81}</string>
            </dict>
            <key>decision_sign_cs_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{83,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,87}}</string>
                <key>sourceSize</key>
                <string>{83,87}</string>
            </dict>
            <key>decision_sign_cs_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,2},{83,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,79}}</string>
                <key>sourceSize</key>
                <string>{83,79}</string>
            </dict>
            <key>decision_sign_cs_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{133,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,91}}</string>
                <key>sourceSize</key>
                <string>{133,91}</string>
            </dict>
            <key>decision_sign_cs_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{91,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,83}}</string>
                <key>sourceSize</key>
                <string>{91,83}</string>
            </dict>
            <key>decision_sign_cs_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1519,2},{142,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,74}}</string>
                <key>sourceSize</key>
                <string>{142,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>changshamjbtn.pvr.ccz</string>
            <key>size</key>
            <string>{1663,95}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b95d85c70812174fa3cda9dea678432:1/1$</string>
            <key>textureFileName</key>
            <string>changshamjbtn.pvr.ccz</string>
        </dict>
    </dict>
</plist>
